<%- include("header") -%>
    <div class="container ankush">
        <form id="contact" action="" method="post">
            <h3 style="text-align:center;">Contact</h3>
            <fieldset>
                <input placeholder="Your name" name="name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" name="email" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <textarea placeholder="Type your message here...." name="message" tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                <button  onclick="myfunction()" class="btn">Submit</button>
            </fieldset>
        </form>
    </div>
    <script>
      function myfunction(){
        alert("Thank you")
        window.location.href="/";
      }
    </script>

    <%- include("footer") -%>
