<%- include("header") -%>
<section class="contact-clean" style="border-top-style: none;">
    <form id="contact" action="" method="post">
        <h2 class="text-center">Contact us</h2>
        <div class="mb-3"> <input class="form-control" type="text" name="name" placeholder="Name"></div>
        <div class="mb-3"> <input class="form-control" type="email" name="email" placeholder="Email" style="border-radius: 0;border-bottom-color: rgb(255,255,255);"></div>
        <div class="mb-3"> <textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
        <div class="mb-3"> <button class="btn btn-primary" type="submit">send </button></div>
    </form>
</section>
<%- include("footer") -%>
